body {
font-size : 36px;
background-color : mistyrose;
font-color : rosybrown;
border : rosybrown;
color:rosybrowm;
border:mistyrose;
display:mistyrose;
}

nav {
font-size : 20px;
background-colour : mistyrose;
font-color : rosybrown;
border: mistyrose;
color:rosybrown;
display:mistyrose;flask
}

h1 {
color:rosybrown;
}

button {
font-size : 35px;
color : rosybrown;
}

ul {
font-size : 20px;
background-color : mistyrose;
color:rosybrown;
display:mistyrose;
}

p {
color : rosybrown;
}

a {
color:darkred;
}

h2 {
color:indianred;
}


