<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav>
     <a href="/">home</a>
    <a href="/game">play game</a>
    <a href="/about">about</a>
</nav>
<div class="content">
    <h1>choose your move</h1>
    <form action="/result" method="post">
        <button type="submit" name="choice" value="rock">rock</button>
        <button type="submit" name="choice" value="paper">paper</button>
        <button type="submit" name="choice" value="scissors">scissors</button>

    </form>
<div id="images">
    <img style="width:300px" src="{{url_for('static', filename='images/rock.jpg')}}"/>
    <img style="width:300px" src="{{url_for('static', filename='images/paperr.jpg')}}"/>
   <img style="width:300px" src="{{url_for('static', filename='images/scissor.jpg')}}"/>


    </div>
</div>



</body>
</html>
